import os
_basedir = os.path.abspath(os.path.dirname(__file__))

SENTRY_URL = ''

secret_key = ""
SECRET_KEY = ""

LAB_LOGIN = {'username': "", 'password': ""}
LAB_TITLE = ''
LAB_BASE_URL = ''

DATABASE_KEY = ''

INSTALL_LOCATION = ''

API_USERNAME = ''
API_PASSWORD = ''

WSAPI_SECRET = ''

ENVIRON = ''

SESSION_COOKIE_DOMAIN = ''

LOGOUT_URL = ''
