{% extends 'sciencelabs_base.html' %}

{% block subnav %}
    <a id="administration" class="nav-link {{ 'active' if 'admin' in request.path else 'disabled' }}"
       href="{{ url_for('CourseView:index') }}">Administration</a>
{% endblock %}

{% block body_content %}
        <div class="custom-default row">
            <div class="col-md-8">
                <form role="form" action="{{ url_for('CourseView:submit') }}" method="POST">
                    <div class="form-group col-md-12">
                        <h3>{{ lab_title }} Courses for {{ semester.term }} {{ semester.year }}</h3>
                    </div>
                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th data-toggle="tooltip" data-placement="top" title="Course Name">Course</th>
                                <th data-toggle="tooltip" data-placement="top" title="Course Section">Sec</th>
                                <th data-toggle="tooltip" data-placement="top" title="Course Code">Course Code</th>
                                <th data-toggle="tooltip" data-placement="top" title="Course Professor">Professor</th>
                                <th data-toggle="tooltip" data-placement="top" title="Students Enrolled">Enr</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course, profs in courses_and_profs.items() %}
                                <tr>
                                    <td>
                                        <a class="no-decoration" href='{{ url_for('CourseView:view_course', course_id=course.id) }}'>{{ course.title }}</a>
                                    </td>
                                    <td>
                                        {{ course.section }}
                                    </td>
                                    <td>
                                        {{ course.dept + course.course_num }}
                                    </td>
                                    <td>
                                        {% for prof in profs %}
                                            {{ prof.firstName }}
                                            {{ prof.lastName }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ course.num_attendees }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group col-md-12 text-right margin-top-20">
                        <h3 class="text-left">{{ lab_title }} Courses Across all Terms</h3>
                        <input id="tags" type="text" name="potential_courses" class="tags" value="{{ cc_str }}"/>
                        <button type="submit" class="btn blue btn-primary margin-top-10" id="submit-courses">Submit Courses</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="sub-info card info">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{ url_for('ReportView:export_course_overview_csv') }}"
                               class="btn btn-primary">CSV Export</a>
                        </p>
                        <p class="card-text">
                            This page has two sections, the "{{ lab_title }} Courses Across All Terms"
                            and the "{{ lab_title }} Courses for Current Term". Administrators should
                            populate the bottom "{{ lab_title }} Courses Across All Terms" section with
                            all courses that this lab serves across all terms.
                        </p>
                        <p class="card-text">
                            To <strong>add</strong> courses to the "{{ lab_title }} Courses Across All
                            Terms" section, click on the "add a course" text in the box, type a course number
                            (ex. MAT124M, use appropriate capitalization and no spaces) and press enter. When you have
                            added all applicable courses, press <span class="button-labels">Submit Courses</span>.
                        </p>
                        <p class="card-text">
                            Each new course number will now be checked against Banner; if the course number is valid,
                            the course name will be added to the course number in the list and all sections of the
                            course will populate the "{{ lab_title }} Courses for Current Term" list at
                            the top of the page. If the course number is not valid, an error message will appear at the
                            top of the screen.
                        </p>
                        <p class="card-text">
                            <strong>{{ lab_title }} Courses Across All Terms</strong> determines which
                            courses will be available to be offered at help sessions. If you no longer want a course to
                            be offered at future help sessions, you should delete it from the "{{ lab_title }}
                            Courses Across All Terms" section. In the bottom {{ lab_title }} Course list,
                            press the "x" next to the course name and number. When you have removed all applicable
                            courses, press Submit Courses. This will NOT remove the course from the current term course
                            listing found at the top of this page.
                        </p>
                        <p class="card-text">
                            <strong>{{ lab_title }} Courses for Current Term</strong> determines which
                            courses will be available for reports. If you no longer want a course to be available for
                            reports, you should delete it from the "{{ lab_title }} Courses for Current
                            Term" section. To delete a course in this section, click on the course title, and then press
                            <span id="red" class="button-labels">Delete</span> in the following window to delete the
                            course. Make sure this is done for all sections of the course, if desired. Please note that
                            courses from past terms will still be available for reporting. However, all courses that are
                            not offered in the current term will NOT appear in the course list.
                        </p>
                        <p class="card-text">
                            Further <strong>course information</strong> is available for each course by clicking on the
                            course name. Information including the instructor, room, day and time of the course along
                            with the number enrolled, is pulled from Banner and displayed.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript">
        $(document).ready( function () {
            
            $(function(){
                $('#tags').tagsInput({
                    delimiter: ';',
                    height:'150px',
                    width:'100%',
                    interactive:true,
                    defaultText:'add a course',
                    minInputWidth: '90px',
                    removeWithBackspace : true,
                    minChars : 6,
                    maxChars : 0, //if not provided there is no limit,
                    placeholderColor : '#666666'
                });
            });

        });
    </script>
{% endblock %}