{% extends 'course/base.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h3>{{ course[0].dept }}{{ course[0].course_num }} - {{ course[0].title }} (Section {{ course[0].section }})</h3>
                        {# TODO FILL TABLE #}
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <td><b>Professor</b></td>
                                <td>{{ course[1].firstName }} {{ course[1].lastName }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><b>Semester</b></td>
                                <td>{{ course[2].term }} {{ course[2].year }}</td>
                            </tr>
                            <tr>
                                <td><b>Meeting Day</b></td>
                                <td>{{ course[0].meeting_day }}</td>
                            </tr>
                            <tr>
                                <td><b>Time</b></td>
                                <td>{{ course[0].begin_time|datetimeformat }} - {{ course[0].end_time|datetimeformat }}</td>
                            </tr>
                            <tr>
                                <td><b>Room</b></td>
                                <td>{{ course[0].room }}</td>
                            </tr>
                            <tr>
                                <td><b>Enrolled</b></td>
                                <td>{{ course[0].num_attendees }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="float: right;" class="btn-group">
                            <a href="" class="big-button delete btn btn-primary">Delete</a>
                            <a href='{{ url_for('ReportView:view_course', course_id=course[0].id) }}' class="big-button edit btn btn-primary">View Report</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}