{% extends 'term_startup/base.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('TermStartupView:set_term') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p style="padding: 0px; margin: 0px">Step 1: Set Term</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div style="text-align: center;" class="form-group col-md-12">
                        <h3>Current Term: {{ semester.term }} {{ semester.year }}</h3>
                        <p>{{ semester.startDate.strftime('%m/%d/%Y') }}-{{ semester.endDate.strftime('%m/%d/%Y') }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="new-term">New Term</label>
                        <select id="new-term" class="custom-select" name="term" required>
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                            <option value="Fall">Fall</option>
                            <option value="Interim">Interim</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="year">Year</label>
                        <select id="year" class="custom-select" name="year" required>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start-date">Start Date (click to select)</label>
                        <input type="text" class="form-control" id="start-date" name="start-date" required autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="end-date">End Date (click to select)</label>
                    <input type="text" class="form-control" id="end-date" name="end-date" required autocomplete="off">
                    </div>
                </div>
                <div style="text-align: right;" class="form-row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary" id="set-term">Set Term</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Warning:</strong> once a term has been set, no sessions from the
                        previous term can be created or held. Records of previously held sessions will be maintained
                        in the reporting section, but all student users will be deactivated for future sessions.
                        Make sure the previous term is completed before initiating the term startup process.
                    </p>
                    <p class="card-text">To begin the term startup process, enter the term, year, and start and end
                        dates for the term. When all fields are complete, press the
                        <span class="button-labels">Set Term</span> button to transition the entire system to the
                        new term.
                    </p>
                    <p class="card-text">
                        Once the new term has been set, go on to the next step by pressing the
                        <span id="gray" class="button-labels">Step 2: Edit Users</span> tab located at the top of
                        the page.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
    <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>
    <script>
        $(document).ready(function () {

            var Startpicker = new Pikaday({
                field: document.getElementById('start-date')
            });

            var Endpicker = new Pikaday({
                field: document.getElementById('end-date')
            });

        });
    </script>
{% endblock %}