{% extends 'term_startup/home.html' %}

    {% block header %}
        <div class="card-body btn-group">
            <p style="padding: 0px; margin: 0px">Step 4: Review Schedules</p>
        </div>
    {% endblock %}

    {% block body_content %}
            <div class="footer card">
                <div style="text-align: left;" class="card-body">
                    <p>
                        The following process will make sure that the schedule for the term is set up and complete. It
                        will be necessary to navigate to another area of the application (the
                        <span class="button-labels">Schedule</span> tab), so it may be helpful to either have this
                        documentation page open in another browser window, or print out this documentation for
                        instruction.
                    </p>
                    <p>
                        Using the tutor schedule created by the director of the help session for the new term, do the
                        following:
                    </p>
                    <ol>
                        <li>
                            Click the <span class="button-labels">Schedule</span> tab in the main navigation.
                        </li>
                        <li>
                            <strong>Check schedule days, rooms and times.</strong> The last schedules related to the
                            currently selected term type (for example, a fall schedule or interim schedule) will be
                            displayed on the <span class="button-labels">Schedule</span> page. Check all information for
                            each schedule listed and edit if necessary by either using the
                            <span id="darkblue" class="button-labels">Edit</span> and
                            <span id="red" class="button-labels">Delete</span> buttons on the
                            <span id="gray" class="button-labels">Schedules</span> tab or by using the
                           <span id="gray" class="button-labels">Create New Schedule</span> tab to add an entirely new
                            schedule. More documentation and details are found on the
                            <span id="gray" class="button-labels">Create New Schedule</span> page.
                        </li>
                        <li>
                            <strong>Add tutors and lead tutors to each schedule.</strong> All tutor information from
                            previous terms will not appear in these new schedules. Tutors must be added to each schedule
                            by clicking on the <span id="darkblue" class="button-labels">Edit</span> button for each
                            schedule. Follow directions on the resulting page to check all schedule information and add
                            lead tutors and tutors for the schedule. Press
                            <span id="darkblue" class="button-labels">Save</span> for the current schedule and then go
                            on to add tutors to all listed schedules.
                        </li>
                    </ol>
                    <p>
                        This completes the term start-up process. Any portion of the needed elements for a new term may
                        be reviewed by clicking on the
                        <span class="button-labels">Users</span>
                        <span class="button-labels">Courses</span> or
                        <span class="button-labels">Schedule</span>
                        tabs. A final check can be done by going to the
                        <span class="button-labels">Session</span>
                        tab and making sure that appropriate sessions are ready to go under the
                        <strong>Available Sessions</strong> portion of the page for the current term. If any edits are
                        needed, you may return to the
                        <span class="button-labels">Users</span>
                        <span class="button-labels">Courses</span> or
                        <span class="button-labels">Schedule</span>
                        tabs and make the appropriate changes.
                    </p>
                </div>
            </div>
    {% endblock %}