{% extends 'schedule/schedules.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p style="padding: 0px; margin: 0px">Create New Schedule for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schedule-name">Schedule Name</label>
                        <input type="text" class="form-control" id="schedule-name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="room">Room</label>
                        <input type="text" class="form-control" id="room" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control" id="start-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control" id="end-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="day-of-week">Day of week</label>
                        <select id="day-of-week" class="custom-select" required>
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-leads">Lead Tutors</label>
                         <select class="chosen form-control" id="choose-leads" multiple="true" data-placeholder="Choose lead tutors ...">
                             {% for tutor in tutor_list %}
                                 <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                             {% endfor %}
                         </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-tutors">Tutors</label>
                        <select class="chosen form-control" id="choose-tutors" multiple="true" data-placeholder="Choose tutors ...">
                            {% for tutor in tutor_list %}
                                <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-primary" id="all-courses">Select All Courses</button>
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-12">
                            {% for course in course_list %}
                                <div class="custom-control custom-checkbox" style="display:inline-block;">
                                    <input type="checkbox" class="course-checkbox custom-control-input"
                                           id="{{ course.id }}" value="{{ course.id }}" checked>
                                    <label class="custom-control-label" for="{{ course.id }}">
                                        {{ course.dept }}{{ course.course_num }} ({{ course.courseName }})</label>
                                </div>
                            {% endfor %}
                        </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="save-schedule">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        To create a new schedule for the listed term, enter the schedule information in the given
                        fields.
                    </p>
                    <p class="card-text">
                        A schedule will be used to create recurring sessions that will occur on the chosen day of
                        week and time, throughout the given term.
                    </p>
                    <p class="card-text">
                        A session is a single instance of a schedule, and may be edited individually on the
                        <span class="button-labels">Session</span> tab.
                    </p>
                    <p class="card-text">
                        Multiple schedules may occur on any day of the week. Therefore, the name of the schedule
                        should reflect the the existence of multiple rooms or varying times of day. Please create
                        sessions with unique identifying names. For example, 'Monday Second Room Chapel Time' and
                        'Monday Main Room Evening' could distinguish two separate Monday schedules.
                    </p>
                    <p class="card-text">
                        Click <span class="button-labels">Save</span> when you are done creating the new schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#all-courses').click(function(){
                if($(this).hasClass('all')){
                    $('.custom-control-input').prop('checked', false);
                    $(this).text('Select All Courses');
                }else {
                    $('.custom-control-input').prop('checked', true);
                    $(this).text('Select No Courses');
                }
                $(this).toggleClass('all')
            });

            $('#save-schedule').click(function(){

                // Getting leads
                var leads = $('#choose-leads').val();
                var jsonLeads = JSON.stringify(leads);

                // Getting tutors
                var tutors = $('#choose-tutors').val();
                var jsonTutors = JSON.stringify(tutors);

                // Getting courses
                var courses = [];
                $('.course-checkbox:checked').each(function(){
                    courses.push($(this).val());
                });
                var jsonCourses = JSON.stringify(courses);

                var schedule = {
                    'scheduleName': $('#schedule-name').val(),
                    'room': $('#room').val(),
                    'startTime': $('#start-time').val(),
                    'endTime': $('#end-time').val(),
                    'dayOfWeek': $('#day-of-week :selected').val(),
                    'leads': jsonLeads,
                    'tutors': jsonTutors,
                    'courses': jsonCourses
                };
                var url = '{{ url_for('ScheduleView:create_schedule_submit') }}';
                $.post(url, schedule, function(message){
                    window.location.replace('{{ url_for('ScheduleView:index') }}');
                    alert(message);
                });
            });

            $(".chosen").chosen({
                display_disabled_options: true
            });

        });
    </script>
{% endblock %}
