{% extends 'schedule/schedules.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('ScheduleView:create_schedule_submit') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p class="no-margin-padding">Create New Schedule for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="reservation-preference">Use Reservation System for Schedule?</label>
                        <div id="reservation-preference">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="reserve-radio" class="custom-control-input"
                                       name="using-reservation-system" value="1" checked>
                                <label class="custom-control-label" for="reserve-radio">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="non-reserve-radio" class="custom-control-input"
                                       name="using-reservation-system" value="0">
                                <label class="custom-control-label" for="non-reserve-radio">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schedule-name">Schedule Name</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="schedule-name" name="name" required autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="room">Room</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="room" name="room" required autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="start-time" name="start-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="end-time" name="end-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="day-of-week">Day of week</label>
                        <select id="day-of-week" class="custom-select chosen-container chosen-format" name="day-of-week" required>
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row hide-non-reservation-system">
                    <div class="form-group col-md-12">
                        <label for="capacity">Session Capacity</label>
                        <input type="number" min="0" class="form-control chosen-container chosen-format" id="capacity" name="capacity" value="0" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-leads">Lead Tutors</label>
                         <select required="required" id="choose-leads" multiple="true" name="leads">
                             {% for tutor in lead_list %}
                                 <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                             {% endfor %}
                         </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-tutors">Tutors</label>
                        <select id="choose-tutors" multiple="true" name="tutors">
                            {% for tutor in tutor_list %}
                                <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ macros.select_courses(course_list, [], True) }}
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn blue btn-primary" id="save-schedule">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text"><strong>NEW FALL 2020!</strong></p>
                    <p class="card-text">
                        <ol>
                            <li>Please be careful when entering rooms. HC 113, hc 113, and HC113 are all different rooms. Spacing and capitalization matter!</li>
                            <li>Use "virtual" (without the quotes) as the room number if you want a session to only be attended virtually. Also enter 0 for the session capacity.</li>
                        </ol>
                    </p>
                    <p class="card-text">
                        To create a new schedule for the listed term, enter the schedule information in the given
                        fields.
                    </p>
                    <p class="card-text">
                        A schedule will be used to create recurring sessions that will occur on the chosen day of
                        week and time, throughout the given term.
                    </p>
                    <p class="card-text">
                        A session is a single instance of a schedule, and may be edited individually on the
                        <a href="{{ url_for('SessionView:index') }}">Session</a> tab.
                    </p>
                    <p class="card-text">
                        Multiple schedules may occur on any day of the week. Therefore, the name of the schedule
                        should reflect the the existence of multiple rooms or varying times of day. Please create
                        sessions with unique identifying names. For example, 'Monday Second Room Chapel Time' and
                        'Monday Main Room Evening' could distinguish two separate Monday schedules.
                    </p>
                    <p class="card-text">
                        Click <span class="button-labels">Save</span> when you are done creating the new schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#reservation-preference').click(function() {
                if ($('#non-reserve-radio').is(':checked')) {
                    $("div.hide-non-reservation-system").hide();
                    $("#capacity").prop({'required':false,'type':'text'});
                    $("#capacity").val('0');
                } else if ($('#reserve-radio').is(':checked')) {
                    $("div.hide-non-reservation-system").show();
                    $("#capacity").prop({'required':true,'type':'number'});
                }
            });
        });

        var leads = new SlimSelect({
            select: "#choose-leads",
            placeholder: "Choose lead tutors...",
            closeOnSelect: false
        });

        var tutors = new SlimSelect({
            select: "#choose-tutors",
            placeholder: "Choose tutors...",
            closeOnSelect: false
        });
    </script>
{% endblock %}
