{% extends 'schedule/schedules.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('ScheduleView:create_schedule_submit') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p class="no-margin-padding">Create New Schedule for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schedule-name">Schedule Name</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="schedule-name" name="name" required autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="room">Room</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="room" name="room" required autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="start-time" name="start-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="end-time" name="end-time" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="day-of-week">Day of week</label>
                        <select id="day-of-week" class="custom-select chosen-container chosen-format" name="day-of-week" required>
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-leads">Lead Tutors</label>
                         <select class="chosen form-control" required="required" id="choose-leads" multiple="true" name="leads"
                                 data-placeholder="Choose lead tutors ...">
                             {% for tutor in lead_list %}
                                 <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                             {% endfor %}
                         </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-tutors">Tutors</label>
                        <select class="chosen form-control" id="choose-tutors" multiple="true" name="tutors"
                                data-placeholder="Choose tutors ...">
                            {% for tutor in tutor_list %}
                                <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ macros.select_courses(course_list, None) }}
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn blue btn-primary" id="save-schedule">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        To create a new schedule for the listed term, enter the schedule information in the given
                        fields.
                    </p>
                    <p class="card-text">
                        A schedule will be used to create recurring sessions that will occur on the chosen day of
                        week and time, throughout the given term.
                    </p>
                    <p class="card-text">
                        A session is a single instance of a schedule, and may be edited individually on the
                        <a href="{{ url_for('SessionView:index') }}">Session</a> tab.
                    </p>
                    <p class="card-text">
                        Multiple schedules may occur on any day of the week. Therefore, the name of the schedule
                        should reflect the the existence of multiple rooms or varying times of day. Please create
                        sessions with unique identifying names. For example, 'Monday Second Room Chapel Time' and
                        'Monday Main Room Evening' could distinguish two separate Monday schedules.
                    </p>
                    <p class="card-text">
                        Click <span class="button-labels">Save</span> when you are done creating the new schedule.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".chosen").chosen({
                display_disabled_options: true
            });

        });
    </script>
{% endblock %}
