{% extends 'schedule/base.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form>
                 <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p style="padding: 0px; margin: 0px">Edit Schedule for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schedule-name">Schedule Name</label>
                        <input type="text" class="form-control" id="schedule-name" value="{{ schedule.name }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="room">Room</label>
                        <input type="text" class="form-control" id="room" value="{{ schedule.room }}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control" id="start-time"
                               value="{{ schedule.startTime|datetimeformat('%H:%M') }}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control" id="end-time"
                               value="{{ schedule.endTime|datetimeformat('%H:%M') }}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="day-of-week">Day of week</label>
                        <select id="day-of-week" class="custom-select" required>
                            <option {% if schedule.dayofWeek == 0 %} selected="selected"{% endif %} value="0">Sunday</option>
                            <option {% if schedule.dayofWeek == 1 %} selected="selected"{% endif %} value="1">Monday</option>
                            <option {% if schedule.dayofWeek == 2 %} selected="selected"{% endif %} value="2">Tuesday</option>
                            <option {% if schedule.dayofWeek == 3 %} selected="selected"{% endif %} value="3">Wednesday</option>
                            <option {% if schedule.dayofWeek == 4 %} selected="selected"{% endif %} value="4">Thursday</option>
                            <option {% if schedule.dayofWeek == 5 %} selected="selected"{% endif %} value="5">Friday</option>
                            <option {% if schedule.dayofWeek == 6 %} selected="selected"{% endif %} value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-leads">Lead Tutors</label>
                        <select class="chosen form-control" id="choose-leads" multiple="true" data-placeholder="Choose lead tutors ...">
                            {% set leads = [] %}
                            {% for lead in lead_list %}
                                <option value="{{ lead.id }}" {{ 'selected' if lead in tutor_names }}>{{ lead.firstName }} {{ lead.lastName }}</option>
                                <p style="display: none;">{{ leads.append(lead) }}</p>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-tutors">Tutors</label>
                        <select class="chosen form-control" id="choose-tutors" multiple data-placeholder="Choose tutors ...">
                            {% for tutor in tutor_list %}
                                {% if tutor not in leads %}
                                <option value="{{ tutor.id }}" {{ 'selected' if tutor in tutor_names }}>{{ tutor.firstName }} {{ tutor.lastName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                 </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="button" class="all btn btn-primary" id="all-courses">Select No Courses</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {% for course in course_list %}
                            <div class="custom-control custom-checkbox" style="display:inline-block;">
                                <input type="checkbox" class="course-checkbox custom-control-input" id="{{ course.id }}"
                                       value="{{ course.id }}" checked>
                                <label class="custom-control-label" for="{{ course.id }}">
                                    {{ course.dept }}{{ course.course_num }} ({{ course.courseName }})</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="save-schedule">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        Edit schedule information in the given fields to reflect changes in the current schedule.
                    </p>
                    <p class="card-text">
                        To edit tutor information, click in the tutor box until a cursor appears. To add a tutor, select
                        a name from the list that appears, or start typing a tutor name to find it quickly, and then
                        select the tutor. If tutors need to be deleted, click on the "X" next to the tutor name.
                    </p>
                    <p class="card-text">
                        For more information regarding schedules and sessions, see the documentation on the
                        <span id="gray" class="button-labels">Create New Schedule</span> tab.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#all-courses').click(function(){
                if($(this).hasClass('all')){
                    $('.custom-control-input').prop('checked', false);
                    $(this).text('Select All Courses');
                }else {
                    $('.custom-control-input').prop('checked', true);
                    $(this).text('Select No Courses');
                }
                $(this).toggleClass('all')
            });

            $('#save-schedule').click(function(){

                // Getting leads
                var leads = $('#choose-leads').val();
                var jsonLeads = JSON.stringify(leads);

                // Getting tutors
                var tutors = $('#choose-tutors').val();
                var jsonTutors = JSON.stringify(tutors);

                // Getting courses
                var courses = [];
                $('.course-checkbox:checked').each(function(){
                    courses.push($(this).val());
                });
                var jsonCourses = JSON.stringify(courses);

                var schedule = {
                    'scheduleId': {{ schedule_id }},
                    'scheduleName': $('#schedule-name').val(),
                    'room': $('#room').val(),
                    'startTime': $('#start-time').val(),
                    'endTime': $('#end-time').val(),
                    'dayOfWeek': $('#day-of-week :selected').val(),
                    'leads': jsonLeads,
                    'tutors': jsonTutors,
                    'courses': jsonCourses
                };
               var url = '{{ url_for('ScheduleView:save_schedule_edits') }}';
               $.post(url, schedule, function(message){
                   window.location.replace('{{ url_for('ScheduleView:index') }}');
                   alert(message);
               });
            });

            $(".chosen").chosen({
                display_disabled_options: true
            });

        });
    </script>
{% endblock %}
