{% extends 'schedule/base.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('ScheduleView:save_schedule_edits') }}" method="post">
                <input type="hidden" name="schedule-id" value="{{ schedule_id }}">
                 <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p class="no-margin-padding">Edit Schedule for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schedule-name">Schedule Name</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="schedule-name" value="{{ schedule.name }}"
                               name="name" required autocomplete="off">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="room">Room</label>
                        <input type="text" class="form-control chosen-container chosen-format" id="room" value="{{ schedule.room }}"
                               name="room" required autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="start-time" name="start-time"
                               value="{{ schedule.startTime|datetimeformat('%H:%M') }}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control chosen-container chosen-format" id="end-time" name="end-time"
                               value="{{ schedule.endTime|datetimeformat('%H:%M') }}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="day-of-week">Day of week</label>
                        <select id="day-of-week" class="custom-select chosen-container chosen-format" name="day-of-week" required>
                            <option {% if schedule.dayofWeek == 0 %} selected="selected"{% endif %} value="0">Sunday</option>
                            <option {% if schedule.dayofWeek == 1 %} selected="selected"{% endif %} value="1">Monday</option>
                            <option {% if schedule.dayofWeek == 2 %} selected="selected"{% endif %} value="2">Tuesday</option>
                            <option {% if schedule.dayofWeek == 3 %} selected="selected"{% endif %} value="3">Wednesday</option>
                            <option {% if schedule.dayofWeek == 4 %} selected="selected"{% endif %} value="4">Thursday</option>
                            <option {% if schedule.dayofWeek == 5 %} selected="selected"{% endif %} value="5">Friday</option>
                            <option {% if schedule.dayofWeek == 6 %} selected="selected"{% endif %} value="6">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-leads">Lead Tutors</label>
                        <select required="required" id="choose-leads" multiple="true" name="leads">
                            {% for lead in lead_list %}
                                <option value="{{ lead.id }}" {{ 'selected' if lead.id in lead_ids }}>{{ lead.firstName }} {{ lead.lastName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="choose-tutors">Tutors</label>
                        <select id="choose-tutors" name="tutors" multiple>
                            {% for tutor in tutor_list %}
                                <option value="{{ tutor.id }}" {{ 'selected' if tutor.id in tutor_ids }}>{{ tutor.firstName }} {{ tutor.lastName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                 </div>
                {{ macros.select_courses(course_list, schedule_course_ids, False) }}
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn blue btn-primary" id="save-schedule">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        Edit schedule information in the given fields to reflect changes in the current schedule.
                    </p>
                    <p class="card-text">
                        To edit tutor information, click in the tutor box until a cursor appears. To add a tutor, select
                        a name from the list that appears, or start typing a tutor name to find it quickly, and then
                        select the tutor. If tutors need to be deleted, click on the "X" next to the tutor name.
                    </p>
                    <p class="card-text">
                        For more information regarding schedules and sessions, see the documentation on the
                        <span id="gray" class="button-labels">Create New Schedule</span> tab.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var leads = new SlimSelect({
            select: "#choose-leads",
            placeholder: "Choose lead tutors...",
            closeOnSelect: false
        });

        var tutors = new SlimSelect({
            select: "#choose-tutors",
            placeholder: "Choose tutors...",
            closeOnSelect: false
        });
    </script>
{% endblock %}
