{% extends 'schedule/base.html' %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <form role="form" action="{{ url_for('ScheduleView:save_zoom_urls') }}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p class="no-margin-padding">Change Zoom Urls for Schedules for {{ active_semester.term }} {{ active_semester.year }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>DOW #</th>
                            <th data-toggle="tooltip" data-placement="top" title="Schedule Name">Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Day of Week">DOW</th>
                            <th data-toggle="tooltip" data-placement="top" title="Schedule Time">Time</th>
                            <th data-toggle="tooltip" data-placement="top" title="Schedule Room">Room</th>
                            <th data-toggle="tooltip" data-placement="top" title="Schedule Courses">Courses</th>
                            <th data-toggle="tooltip" data-placement="top" title="Schedule Tutors">Tutors</th>
                            <th data-toggle="tooltip" data-placement="top" title="Zoom Url">Zoom Url</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule, tutors_and_courses in schedule_tutors_and_courses.items() %}
                            <tr>
                                <td>
                                    {{ schedule.dayofWeek }}
                                </td>
                                <td>
                                    {{ schedule.name }}
                                </td>
                                <td>
                                    {{ macros.day_abbr(schedule.dayofWeek) }}
                                </td>
                                <td>
                                    {{ schedule.startTime|datetimeformat + ' - ' + schedule.endTime|datetimeformat }}
                                </td>
                                <td>
                                    {{ schedule.room }}
                                </td>
                                <td>
                                    <button id="show-courses" type="button" class="show-courses blue btn btn-primary">Show</button>
                                    <div class="course-td text-left margin-top-10">
                                        <ul>
                                            {% for course in tutors_and_courses['courses'] %}
                                                <li>
                                                    {{ course }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <button id="show-tutors" type="button" class="show-tutors blue btn btn-primary">Show</button>
                                    <div class="tutor-td text-left margin-top-10">
                                        {% for tutor in tutors_and_courses['tutors'] %}
                                        {% if tutor.isLead %}
                                            {{ tutor.firstName }} {{ tutor.lastName }}<br><span class="button-labels">Lead</span><br>
                                        {% else %}
                                            {{ tutor.firstName }} {{ tutor.lastName }}<br>
                                        {% endif %}
                                            {% endfor %}
                                    </div>
                                </td>
                                <td class="text-center btn-group">
                                    {% set session_info = get_zoom(schedule.id) %}
                                    <input type="url" class="form-control chosen-container chosen-format"
                                           value="{% if session_info.zoom_url %}{{ session_info.zoom_url }}{% endif %}"
                                           name="{{ schedule.id }}" {% if ('Lead Tutor' in session['USER-ROLES']
                                           or 'Tutor' in session['USER-ROLES']
                                           or 'Professor' in session['USER-ROLES']) and 'Administrator' not in session['USER-ROLES'] %}readonly{% endif %}>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if 'Administrator' in session['USER-ROLES'] %}
                    <button type="submit" class="btn blue btn-primary margin-top-10" id="submit-zoom-urls">Save Zoom Urls</button>
                {% endif %}
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text"><strong>NEW FALL 2021!</strong></p>
                    <p class="card-text">
                        Sessions no longer need a virtual option. So Zoom Urls are now optional for any type of session.
                    </p>
                    <hr>
                    <p class="card-text">
                        This page is used to add zoom urls to sessions in a schedule so that when a student joins a virtual
                        help session, they have access to the session zoom url.
                    </p>
                    <p class="card-text">
                        To <strong>add</strong> a zoom url to a schedule, simply type or paste the zoom url into the zoom
                        url section and hit the <span class="button-labels">Save Zoom Urls</span> button to save the url.
                        You can either do all urls at once and then hit save or do them one at a time.
                    </p>
                    <p class="card-text">
                        To <strong>delete</strong> a zoom url, simply delete the zoom url for that course and hit
                        <span class="button-labels">Save Zoom Urls</span>.
                    </p>
                    <p class="card-text">
                        To <strong>change</strong> a zoom url, simply paste a new zoom url where the previous one was
                        and hit <span class="button-labels">Save Zoom Urls</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready( function () {
            $.extend($.fn.dataTableExt.oStdClasses, {
                // give some foundation classes to our controls
                sLength: 'large-4 columns ',
                sFilter: 'large-12 columns ',
            });

            var table = $('#table').DataTable( {
                "aaSorting": [[0, 'asc'], [1, 'asc']],

                "aoColumns": [
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] }
                ],

                "columnDefs": [
                    {"visible": false, "targets": 0}
                ],

                "bPaginate": false,
                "bLengthChange": false,
            });
        });
    </script>

{% endblock %}
