{# Virtual Sign On Modal #}
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Courses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-title">Check the class(es) you wish to be helped with. When you are finished in this help
                    session, don't forget to sign out or your time will be recorded as 0 minutes.</p>
                <br/>
                <div class="custom-default row">
                    <div class="col-md-12">
                        {% for course in matched_courses %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="course-checkbox custom-control-input" id="{{ course.id }}"
                                       value="{{ course.id }}" name="course">
                                <label class="custom-control-label" for="{{ course.id }}">
                                    {{ course.title }} (Section {{ course.section }})</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-courses" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready( function () {
        $('#save-courses').click(function () {
            let courseIDs = [];
            $('.course-checkbox:checked').each(function(){
                courseIDs.push($(this).val());
            });
            let jsonCourseIDs = JSON.stringify(courseIDs);
            let signInInfo = {
                'sessionID': {{ session_id }},
                'username': '{{ student.username }}',
                'cardID': '{{ card_id }}',
                'studentID': {{ student.id }},
                'jsonCourseIDs': jsonCourseIDs,
                'timeIn': '{{ time_in }}',
                'virtual': 1
            };
            let url = ''
            if (/reservations/.test(window.location.pathname)) {
                url = '{{ url_for('StudentView:reserve_confirm') }}'
            } else if (/zoom-sign-on/.test(window.location.pathname)) {
                url = '{{ url_for('SessionView:student_sign_in_confirm') }}';
            }
            $.post(url, signInInfo, function(result){
                // The 'true' in this forces the reload no matter what
                window.location.reload(true);
            });
        });

        // Write function that will save the courses the user came here for and supply zoom urls
    });
</script>