{% extends 'student/base.html' %}

{% block body_content %}
    <div class="form-group col-md-12">
        <h3>Welcome {{ student.firstName }} {{ student.lastName }}</h3>
        <br/>
        <div>
            {% if signed_in_sessions %}
                <h4>Session you are currently attending:</h4>
                <h6>
                    Make sure to sign out after you are done with the session or else your time attending will not be
                    counted.
                    <br/>
                    <br/>
                    Make sure you don't bookmark the Zoom url, since it changes daily. After you're done with your Zoom
                    session, don't forget to return to this page to sign out, so your attendance record is accurate.
                </h6>
                <br/>

                <table id="signed-in-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" data-placement="top" title="Session Name">Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Session Date">Date</th>
                            <th data-toggle="tooltip" data-placement="top" title="Session Time">Time</th>
                            <th data-toggle="tooltip" data-placement="top" title="Session Room">Room</th>
                            <th data-toggle="tooltip" data-placement="top" title="Courses Signed Up For">Courses Reserved</th>
                            <th data-toggle="tooltip" data-placement="top" title="Zoom Url">Zoom Url</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in signed_in_sessions %}
                            <tr>
                                <td>
                                    {{ session.name }}
                                </td>
                                <td>
                                    {{ session.date.strftime('%m/%d/%Y') }}
                                </td>
                                <td>
                                    {{ session.schedStartTime|datetimeformat + ' - ' + session.schedEndTime|datetimeformat }}
                                </td>
                                <td>
                                    {{ session.room }}
                                </td>
                                <td>
                                    <div class="text-left margin-top-10">
                                        {% for course in signed_in_courses[session.id] %}
                                                {{ course.title }} ({{ course.dept }}{{ course.course_num }})
                                                <br />
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>
                                    {% if session.zoom_url %}<a href="{{ session.zoom_url }}">Zoom Url</a>{% else %}N/A{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {% if not sessions %}
            <h4>There are no sessions available for your course(s) in the next 3 days.</h4>
            <br/>
            <br/>
            <br/>
        {% else %}
            <br/>
            <h4>{{ lab_title }} Reservations</h4>
            <p><b>To make a reservation</b>:  Select a session from the list of sessions available for your course(s),
                within the next 3 days.</p>
            <p><b>To cancel a reservation</b>:  Use the red “Cancel” button to cancel a reservation,
                so others can use your spot.</p>
            <p><b>Attending a Face-to-Face Session:</b>
                <ul>
                    <li>Check your email before a session to assure there have not been any last minute cancellations.
                    </li>
                    <li>Bring your ID to the session when you attend, as your reservation will be checked.</li>
                    <li>Please try to arrive at the start of the session, as it's easier to work through problems
                        together as a group. However, you may arrive at any time during the session, as long as there
                        is space.</li>
                </ul>
            </p>
            <table id="available-table"  class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="top" title="Session Name">Name</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Date">Date</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Time">Time</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Room">Room</th>
                        <th data-toggle="tooltip" data-placement="top" title="Courses Available">Courses Available</th>
                        <th data-toggle="tooltip" data-placement="top" title="Seats Remaining">Seats Available</th>
                        <th data-toggle="tooltip" data-placement="top" title="Reserve or cancel">Reserve or Cancel a Session</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td>
                                {{ session.name }}
                            </td>
                            <td>
                                {{ session.date.strftime('%m/%d/%Y') }}
                            </td>
                            <td>
                                {{ session.schedStartTime|datetimeformat + ' - ' + session.schedEndTime|datetimeformat }}
                            </td>
                            <td>
                                {{ session.room }}
                            </td>
                            <td>
                                <div class="text-left margin-top-10">
                                    {% for course in student_session_courses[session.id] %}
                                            {{ course.title }} ({{ course.dept }}{{ course.course_num }})
                                            <br />
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                            {% set seats_avail = get_seats_available(session.id) %}
                            {% set room_group_seats_avail = get_room_group_seats_available(session.room_group_id) %}
                                {% if session.room_group_id and seats_avail == 0 %}
                                    {{ room_group_seats_avail }}
                                {% else %}
                                    {{ seats_avail }}
                                {% endif %}
                            </td>
                            <td>
                                {% if seats_avail != 0 %}
                                    <div id="reserve-cancel">
                                        {% if is_reserved(session.id, student.id) %}
                                            <button type="button" id="{{ session.id }}" class="btn btn-danger cancel">Cancel</button>
                                        {% else %}
                                            <button type="button" id="{{ session.id }}" class="blue btn btn-primary reserve">Reserve</button>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if is_reserved(session.id, student.id) %}
                                        <button type="button" id="{{ session.id }}" class="btn btn-danger cancel">Cancel</button>
                                    {% else %}
                                        {% if session.room_group_id and seats_avail == 0 and room_group_seats_avail != 0 %}
                                            <button type="button" id="{{ session.id }}" class="blue btn btn-primary reserve">Reserve</button>
                                        {% else %}
                                            No seats remaining. Please check back later or attend the session
                                            <a class="no-decoration" href="{{ url_for('StudentView:virtual_sign_on') }}">virtually</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div id="course-selector"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#available-table').DataTable( {
                "aoColumns": [
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] },
                    { "orderSequence": [ null ] },
                ],
                "order": [[1, 'asc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            $('.reserve').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('StudentView:load_course_selector_modal') }}",
                    data: JSON.stringify({
                        'session_id': this.id,
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        $('#course-selector').html(response);
                        $('#sign-in-modal').modal('show');
                    },
                    error: function (error) {
                    }
                });
            });

            $('.cancel').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('StudentView:cancel_reservation') }}",
                    data: JSON.stringify({
                        'session_id': this.id,
                        'student_id': {{ student.id }},
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        window.location.reload(true);
                    },
                    error: function (error) {
                    }
               })
            });
        })
    </script>
{% endblock %}