{% extends 'student/base.html' %}

{% block body_content %}
    <div class="form-group col-md-12">
        <h3>Welcome {{ student.firstName }} {{ student.lastName }}</h3>
        <br/>
        {% if not sessions %}
            <h4>You can not reserve any sessions at this time.</h4>
        {% else %}
            <h4>Reserve a {{ lab_title }} session</h4>
            <table id="available-table"  class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-toggle="tooltip" data-placement="top" title="Session Name">Name</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Date">Date</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Time">Time</th>
                        <th data-toggle="tooltip" data-placement="top" title="Session Room">Room</th>
                        <th data-toggle="tooltip" data-placement="top" title="Courses Available">Courses Available</th>
                        <th data-toggle="tooltip" data-placement="top" title="Seats Remaining">Seats Available</th>
                        <th data-toggle="tooltip" data-placement="top" title="Reserve or cancel">Reserve or Cancel a Session</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td>
                                {{ session.name }}
                            </td>
                            <td>
                                {{ session.date.strftime('%m/%d/%Y') }}
                            </td>
                            <td>
                                {{ session.schedStartTime|datetimeformat + ' - ' + session.schedEndTime|datetimeformat }}
                            </td>
                            <td>
                                {{ session.room }}
                            </td>
                            <td>
                                <button type="button" class="show-courses blue btn btn-primary">Show</button>
                                <div class="course-td text-left margin-top-10">
                                    {% for course in session_courses[session.id] %}
                                            {{ course.title }} ({{ course.dept }}{{ course.course_num }})
                                            <br />
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                {{ get_seats_remaining(session.id) }}
                            </td>
                            <td>
                                {% if get_seats_remaining(session.id) != 0 %}
                                    <div id="reserve-cancel">
                                        {% if is_reserved(session.id, student.id) %}
                                            <button type="button" id="{{ session.id }}" class="btn btn-danger cancel">Cancel</button>
                                        {% else %}
                                            <button type="button" id="{{ session.id }}" class="blue btn btn-primary reserve">Reserve</button>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% if is_reserved(session.id, student.id) %}
                                        <button type="button" id="{{ session.id }}" class="btn btn-danger cancel">Cancel</button>
                                    {% else %}
                                        No seats remaining. Please check back later or attend the session
                                        <a class="no-decoration" href="{{ url_for('StudentView:virtual_sign_on') }}">virtually</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="course-selector"></div>
            <div>
                {% if signed_in_sessions %}
                    <h6>
                        Make sure to sign out after you are done with the session or else your time attending will not be
                        counted.
                        <br/>
                        <br/>
                        Also, make sure not to bookmark the zoom url since it changes weekly and if you don't sign in your
                        time will not be counted.
                    </h6>
                    <br/>

                    <table id="table" class="table table-striped table-bordered">
                        <<thead>
                            <tr>
                                <th data-toggle="tooltip" data-placement="top" title="Session Name">Name</th>
                                <th data-toggle="tooltip" data-placement="top" title="Session Date">Date</th>
                                <th data-toggle="tooltip" data-placement="top" title="Session Time">Time</th>
                                <th data-toggle="tooltip" data-placement="top" title="Session Room">Room</th>
                                <th data-toggle="tooltip" data-placement="top" title="Courses Signed Up For">Courses Reserved</th>
                                <th data-toggle="tooltip" data-placement="top" title="Zoom Url">Zoom Url</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in signed_in_sessions %}
                                <tr>
                                    <td>
                                        {{ session.name }}
                                    </td>
                                    <td>
                                        {{ session.date.strftime('%m/%d/%Y') }}
                                    </td>
                                    <td>
                                        {{ session.schedStartTime|datetimeformat + ' - ' + session.schedEndTime|datetimeformat }}
                                    </td>
                                    <td>
                                        {{ session.room }}
                                    </td>
                                    <td>
                                        <button type="button" class="show-courses blue btn btn-primary">Show</button>
                                        <div class="course-td text-left margin-top-10">
                                            {% for course in signed_in_courses[session.id] %}
                                                    {{ course.title }} ({{ course.dept }}{{ course.course_num }})
                                                    <br />
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="url" class="form-control chosen-container chosen-format" value="{% if session.zoom_url %}{{ session.zoom_url }}{% endif %}" name="zoom-url">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.reserve').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('StudentView:load_course_selector_modal') }}",
                    data: JSON.stringify({
                        'session_id': this.id,
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        $('#course-selector').html(response);
                        $('#sign-in-modal').modal('show');
                    },
                    error: function (error) {
                    }
                });
            });

            $('.cancel').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('StudentView:cancel_reservation') }}",
                    data: JSON.stringify({
                        'session_id': this.id,
                        'student_id': {{ student.id }},
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        window.location.reload(true);
                    },
                    error: function (error) {
                    }
               })
            });
        })
    </script>
{% endblock %}