{% macro semester_selector(semester_list) %}
    <form class="form-inline">
        <button id="set-semester" type="button" class="btn btn-primary">Set</button>
        <select class="custom-select">
            {% for semester in semester_list %}
                <option value="{{ semester.id }}">{{ semester.term }} {{ semester.year }}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        $(document).ready(function(){

            $('#set-semester').click(function(){
                alert("Set Semester");
            });

        });
    </script>
{% endmacro %}

{% macro alert_popup(alert) %}
    {% if alert %}
        <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
            {{ alert.message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endmacro %}