{% macro semester_selector(semester_list) %}
    <form class="form-inline">
        <button style="border-radius: .25rem !important;" id="set-semester" type="button" class="btn btn-primary">Set</button>
        <select id="semester-select" class="custom-select">
            {% for semester in semester_list %}
                {% set semester_info = semester.split(';') %}
                {% if semester_list[semester] == 1 %}
                    <option class="selected" selected value="{{ semester_info[0] }}">{{ semester_info[1] }} {{ semester_info[2] }}</option>
                {% else %}
                    <option value="{{ semester_info[0] }}">{{ semester_info[1] }} {{ semester_info[2] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    <script>
        $(document).ready(function(){

            $('#set-semester').click(function(){
                var select_tag = document.getElementById("semester-select");
                var semester_id = select_tag.options[select_tag.selectedIndex].value;
                var semester_term_year = select_tag.options[select_tag.selectedIndex].text;
                $.ajax({
                    type: "POST",
                    url: "/set-semester",
                    data: JSON.stringify({'id': semester_id, 'term-year': semester_term_year}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        document.location.reload()
                        {#if ('month' in window.location.pathname){#}
                        {#    location.replace("{{ url_for('ReportView:student') }}")#}
                        {##}
                        {#else{#}
                        {#    alert('no')#}
                        {#    document.location.reload()#}
                        {##}
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

        });
    </script>
{% endmacro %}

{% macro day_abbr(dayofWeek) -%}
    {% set abbr = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] %}
    {{ abbr[dayofWeek] }}
{%- endmacro %}