{% macro semester_selector(semester_list) %}
    <form class="form-inline">
        <button id="set-semester" type="button" class="btn btn-primary">Set</button>
        <select class="custom-select">
            {% for semester in semester_list |sort %}
                {% set semester_info = semester.split(';') %}
                {% if semester_list[semester] == 1 %}
                    <option selected value="{{ semester_info[0] }}">{{ semester_info[1] }} {{ semester_info[2] }}</option>
                {% else %}
                    <option value="{{ semester_info[0] }}">{{ semester_info[1] }} {{ semester_info[2] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    <script>
        $(document).ready(function(){

            $('#set-semester').click(function(){
                alert("Set Semester");
                $.ajax({
                    type: "POST",
                    url: "set_semester_selector",
                    data: {'semester_id': '000', 'term': '000', 'year': '000' },
                    success: function(result){
                    $("#div1").html(result);
                }});
            });

        });
    </script>
{% endmacro %}

{% macro day_abbr(dayofWeek) -%}
    {% set abbr = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'] %}
    {{ abbr[dayofWeek] }}
{%- endmacro %}