{% extends 'sciencelabs_base.html' %}

{% block subnav %}
    <a id="create_email" class="nav-link {{ 'active' if 'create' in request.path else 'disabled'}}"
       href="{{ url_for('EmailView:index') }}">Create Email</a>
{% endblock %}

{% block header %}
    <div class="header card">
        <div class="card-body">
            <p class="card-text">Send Email.</p>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="custom-default row">
        <div class="col-md-8">
            <div class="form-row">
                <div id="cc-div" class="form-group col-md-6">
                    <label>Add Recipients</label>
                    <select id="choose-recipients" multiple="true">
                        {% for user in user_list %}
                            <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Subject</label>
                    <input name="subject" id="subject" type="text" class="form-control chosen-container chosen-format" id="subject" autocomplete="off">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 chosen-container">
                    <label>BCC Groups</label>
                    <select id="choose-bcc-groups" multiple="true">
                        {% for role in role_list %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 btn-group">
                        <button type="button" class="button-curved blue btn btn-primary" id="show-bcc" onclick="bccFunction()">BCC Individuals</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div id="bcc-div" class="form-group col-md-12 chosen-container email">
                    <label>Add BCC</label>
                    <select id="choose-bcc" multiple="true">
                        {% for user in user_list %}
                            <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="subject">Message</label>
                    <textarea name="message" id="message" class="form-control" rows="15" cols="67"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <button type="submit" class="btn blue btn-primary" id="confirm-email">Confirm</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        This section gives you the option to email {{ lab_title }} users. These
                        emails are only sent to users who are set to active in the system. See the
                        <span class="button-labels">Users</span> tab for more information on the users currently in
                        the system. When the email is sent, all users will be BCC’d, so that Bethel username
                        information will not appear in the email.
                    </p>
                </div>
            </div>
        </div>
        <div id="send-email-modal"></div>
    </div>
    <script>
        var recipients = new SlimSelect({
            select: '#choose-recipients',
            placeholder: 'Choose recipients...',
            closeOnSelect: false
        });

        var bbc_groups = new SlimSelect({
            select: "#choose-bcc-groups",
            placeholder: "Choose BCC groups...",
            closeOnSelect: false
        });

        var bcc = new SlimSelect({
            select: "#choose-bcc",
            placeholder: 'Choose BCC recipients...',
            closeOnSelect: false
        });

        function bccFunction() {
            document.getElementById('bcc-div').style.display = 'block';
        }

        $('#confirm-email').click(function () {
            $.ajax({
                type: "POST",
                url: "{{ url_for('EmailView:send_email_confirm') }}",
                data: JSON.stringify({
                    'subject': $('#subject').val(),
                    'message': JSON.stringify($('#message').val()),
                    'selected_recipients': $('#choose-recipients').val(),
                    'selected_groups': $('#choose-bcc-groups').val(),
                    'selected_bcc': $('#choose-bcc').val()
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    $('#send-email-modal').html(response);
                    $('#email-send').modal('show');
                },
                error: function (error) {
                }
            });
        });
    </script>
{% endblock %}