<h4>You have successfully cancelled your reservation for the {{ sess.name }} {{ lab_title }} session for the following course(s):</h4>
<ul>
{% for course in courses %}
    <li>{{ course.title }} ({{ course.dept }} {{ course.course_num }})</li>
{% endfor %}
</ul>
<p>
    View other available face to face sessions <a href="https://tutorlabs.bethel.edu/mathlab/student/reservations">here</a>
    or virtual sessions <a href="https://tutorlabs.bethel.edu/mathlab/student/virtual-sign-on">here</a>.
</p>