{% extends 'sciencelabs_base.html' %}

{% set title = 'Home' %}

{% block body_content %}
    <div class="card welcome">
        <div class="card-body">
            <p class="card-text">Welcome to the Bethel University {{ app_settings['LAB_TITLE'] }}</p>
        </div>
    </div>
    <div>
        <h3 class="text-center reminders">Welcome to the AESC Attendance Application for the {{ app_settings['LAB_TITLE'] }}</h3>
        <p class="reminders">
            Reminders:
        <ol class="reminders">
            <li>Use Chrome when running the help session sign in application</li>
            <li>When sessions are open, do not have other Chrome browsers open that require CAS authentication
                (such as BLink or Gmail) while running the help session sign in</li>
        </ol>
        </p>
    </div>
{% endblock %}
