{% extends 'sciencelabs_base.html' %}

{% set title = 'Home' %}

{% block header %}
    <div class="header card">
        <div class="card-body">
            <p class="card-text">Welcome to the Bethel University {{ lab_title }}</p>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <h3 class="text-center">Welcome to the AESC Attendance Application for the {{ lab_title }}</h3>
    <p>
        Reminders:
        <ol>
            <li>Use Chrome when running the help session sign in application</li>
            <li>When sessions are open, do not have other Chrome browsers open that require CAS authentication
                (such as MyBethel or Gmail) while running the help session sign in</li>
        </ol>
    </p>
    <br>
    {% if open_online_sessions %}
        <div class="header card bottom-space">
            <div class="card-body">
                <p class="card-text">Open Online Sessions</p>
            </div>
        </div>
        {% for session_info in open_online_sessions %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h3>{{ session_info.name }} ({{ session_info.date.strftime('%m/%d/%Y') }})</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="row">
                            <div class="btn-group">
                                {% if 'Administrator' in session['USER-ROLES'] %}
                                    <a href="{{ url_for('SessionView:view_session', session_id=session_info.id) }}"
                                        id="gray" class="btn btn-primary hover-bright">View Session</a>
                                {% endif %}
                                {% if 'Lead Tutor' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                                    <a href="{{ url_for('SessionView:edit_session', session_id=session_info.id) }}"
                                        id="edit" class="btn btn-primary hover-bright">Edit Session</a>
                                    <a href="{{ url_for('SessionView:close_open_session', session_id=session_info.id, session_hash=session_info.hash) }}"
                                        id="delete" class="btn btn-primary hover-bright">Close Session</a>
                                {% endif %}
                                    <a href="{{ url_for('SessionView:student_attendance_passthrough', session_id=session_info.id, session_hash=session_info.hash) }}"
                                        class="btn btn-primary sign-in">Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
