{% macro render(title) %}

    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 0px 10px; background-color: #0069AA;">
        <a class="navbar-brand" href="{{ url_for('View:index') }}" style="color:#FFC600;">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="session" class="nav-link button {{ 'nav-bar-active' if 'SessionView' in request.url_rule.endpoint }}"
                       href="{{ url_for('SessionView:index') }}">Session</a>
                </li>
                <li class="nav-item">
                    <a id="reports" class="nav-link button {{ 'nav-bar-active' if 'ReportView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ReportView:index') }}">Reports</a>
                </li>
                <li class="nav-item">
                    <a id="users" class="nav-link button {{ 'nav-bar-active' if 'UsersView' in request.url_rule.endpoint }}"
                       href="{{ url_for('UsersView:index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a id="schedule" class="nav-link button {{ 'nav-bar-active' if 'ScheduleView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ScheduleView:index') }}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a id="term-startup" class="nav-link button {{ 'nav-bar-active' if 'TermStartupView' in request.url_rule.endpoint }}"
                       href="{{ url_for('TermStartupView:index') }}">Term Startup</a>
                </li>
                <li class="nav-item">
                    <a id="courses" class="nav-link button {{ 'nav-bar-active' if 'CourseView' in request.url_rule.endpoint }}"
                       href="{{ url_for('CourseView:index') }}">Courses</a>
                </li>
                <li class="nav-item">
                    <a id="email" class="nav-link button {{ 'nav-bar-active' if 'EmailView' in request.url_rule.endpoint }}"
                       href="{{ url_for('EmailView:index') }}">Email</a>
                </li>
            </ul>
            <div class="form-inline nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color:#FFC600;">Jordan Jasik</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #0069AA;">
                    <a class="dropdown-item" href="{{ url_for('ProfileView:index') }}" style="color:#FFC600;">My Profile</a>
                    <a class="dropdown-item" href="#" style="color:#FFC600;">Logout</a>
                </div>
            </div>
        </div>
    </nav>

{% endmacro %}