{% macro render(title) %}

    <nav class="navbar navbar-expand-lg navbar-dark background-blue" style="padding: 0 10px;">
        <a class="navbar-brand" href="{{ url_for('View:index') }}">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if 'Lead Tutor' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="session" class="dd-background nav-link button {{ 'nav-bar-active' if 'SessionView' in request.url_rule.endpoint }}"
                       href="{{ url_for('SessionView:index') }}">Session</a>
                </li>
                {% endif %}
                {% if 'Professor' in session['USER-ROLES'] and 'Administrator' not in session['USER-ROLES'] %}
                <li>
                    <a id="reports" class="dd-background nav-link button {{ 'nav-bar-active' if 'ReportView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ReportView:course') }}">Course Reports</a>
                </li>
                {% endif %}
                {% if 'Administrator' in session['USER-ROLES'] or 'Academic Counselor' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="reports" class="dd-background nav-link button {{ 'nav-bar-active' if 'ReportView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ReportView:index') }}">Reports</a>
                </li>
                {% endif %}
                {% if 'Administrator' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="users" class="dd-background nav-link button {{ 'nav-bar-active' if 'UsersView' in request.url_rule.endpoint }}"
                       href="{{ url_for('UsersView:index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a id="schedule" class="dd-background nav-link button {{ 'nav-bar-active' if 'ScheduleView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ScheduleView:index') }}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a id="term-startup" class="dd-background nav-link button {{ 'nav-bar-active' if 'TermStartupView' in request.url_rule.endpoint }}"
                       href="{{ url_for('TermStartupView:index') }}">Term Startup</a>
                </li>
                <li class="nav-item">
                    <a id="courses" class="dd-background nav-link button {{ 'nav-bar-active' if 'CourseView' in request.url_rule.endpoint }}"
                       href="{{ url_for('CourseView:index') }}">Courses</a>
                </li>
                <li class="nav-item">
                    <a id="email" class="dd-background nav-link button {{ 'nav-bar-active' if 'EmailView' in request.url_rule.endpoint }}"
                       href="{{ url_for('EmailView:index') }}">Email</a>
                </li>
                {% endif %}
            </ul>
            <div class="form-inline nav-item dropdown">
                {% if session['NAME'] %}
                    <a class="nav-link dd-background dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ session['NAME'] }}</a>
                    <div class="dropdown-menu background-blue" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dd-background" href="{{ url_for('ProfileView:index') }}">My Profile</a>
                        {% if 'Administrator' in session['USER-ROLES'] %}
                            <a class="dropdown-item dd-background" href="{{ url_for('ProfileView:role_viewer') }}">Act As A Role</a>
                        {% endif %}
                        <a class="dropdown-item dd-background" href="{{ url_for('View:logout') }}">Logout</a>
                    </div>
                {% else %}
                    {% if 'student-attendance' not in request.path and 'tutor-attendance' not in request.path and '/checkin/' not in request.path %}
                        <a class="nav-link dd-background" id="navbarLogin" role="button" href="{{ url_for('View:index') }}">Login</a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </nav>
    {% if session['ADMIN-VIEWER'] %}
        <nav class="navbar navbar-expand-lg navbar-dark custom-user-nav">
            <div class="collapse navbar-collapse custom-user-div" id="navbarSupportedContent">
                <form action="{{ url_for('UsersView:reset_act_as') }}" method="post">
                    <p class="custom-user-p">Viewing
                        {% if session['ADMIN-USERNAME'] %}
                            user: [{{ session['USERNAME'] }}]
                        {% endif %}
                        | Return to your <button id="reset-act-as-button" type="submit">account</button>.
                    </p>
                </form>
            </div>
        </nav>
    {% endif %}

{% endmacro %}