{% macro render(title) %}

    <nav class="navbar navbar-expand-lg navbar-dark background-blue" style="padding: 0px 10px;">
        <a class="navbar-brand yellow" href="{{ url_for('View:index') }}">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if 'Lead Tutor' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="session" class="dd-background nav-link button {{ 'nav-bar-active' if 'SessionView' in request.url_rule.endpoint }}"
                       href="{{ url_for('SessionView:index') }}">Session</a>
                </li>
                {% endif %}
                {% if 'Professor' in session['USER-ROLES'] and 'Administrator' not in session['USER-ROLES'] %}
                <li>
                    <a id="reports" class="dd-background nav-link button {{ 'nav-bar-active' if 'ReportView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ReportView:course') }}">Course Reports</a>
                </li>
                {% endif %}
                {% if 'Administrator' in session['USER-ROLES'] or 'Academic Counselor' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="reports" class="dd-background nav-link button {{ 'nav-bar-active' if 'ReportView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ReportView:index') }}">Reports</a>
                </li>
                {% endif %}
                {% if 'Administrator' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="users" class="dd-background nav-link button {{ 'nav-bar-active' if 'UsersView' in request.url_rule.endpoint }}"
                       href="{{ url_for('UsersView:index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a id="schedule" class="dd-background nav-link button {{ 'nav-bar-active' if 'ScheduleView' in request.url_rule.endpoint }}"
                       href="{{ url_for('ScheduleView:index') }}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a id="term-startup" class="dd-background nav-link button {{ 'nav-bar-active' if 'TermStartupView' in request.url_rule.endpoint }}"
                       href="{{ url_for('TermStartupView:index') }}">Term Startup</a>
                </li>
                <li class="nav-item">
                    <a id="courses" class="dd-background nav-link button {{ 'nav-bar-active' if 'CourseView' in request.url_rule.endpoint }}"
                       href="{{ url_for('CourseView:index') }}">Courses</a>
                </li>
                <li class="nav-item">
                    <a id="email" class="dd-background nav-link button {{ 'nav-bar-active' if 'EmailView' in request.url_rule.endpoint }}"
                       href="{{ url_for('EmailView:index') }}">Email</a>
                </li>
                {% endif %}
            </ul>
            <div class="form-inline nav-item dropdown">
                <a class="nav-link dd-background dropdown-toggle yellow" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ session['NAME'] }}</a>
                <div class="dropdown-menu background-blue" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item dd-background yellow" href="{{ url_for('ProfileView:index') }}">My Profile</a>
                    <a class="dropdown-item dd-background yellow" href="{{ url_for('logout') }}">Logout</a>  {# TODO: CAS Authentication #}
                </div>
            </div>
        </div>
    </nav>

{% endmacro %}