<!DOCTYPE html>
{% import 'nav.html' as nav %}

{% block html_attribs %}
    <html lang="en">
{% endblock %}

{% block html %}
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
            <meta name="viewport" content="width=device-width"/>

            <!-- Sciencelabs CSS -->
            <link href="{{ url_for('static', filename='assets/css/sciencelabs.css') }}" rel="stylesheet"/>

            <!-- Fonts and icons -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
            <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        {% endblock %}

        {% block styles %}
        {% endblock %}
    </head>

    <body>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        {{ nav.render(app_settings['LAB_TITLE']) }}
        <div class="nav header">{% block subnav %}{% endblock %}</div>

            <div class="nav header">{% block semester_switch %}
{#                <div style="position: absolute; margin 10px;">#}
{#                <a class="btn btn-primary dropdown-toggle" style=" border-radius: 0px; color: black; background-color: white; border-color: #cccccc;" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>#}
{#                <a class="btn btn-primary" style="background-color: #0069AA; border-color: #005488; color: white;">Set</a>#}
{#                </div>#}
{#                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#                    <a class="dropdown-item" href="">Action</a>#}
{#                    <a class="dropdown-item" href="">Another action</a>#}
{#                    <a class="dropdown-item" href="">Something else here</a>#}
{#            </div>#}
        {% endblock %}</div>



        <div class="header card">{% block header %}{% endblock %}</div>
        {% block body_content %}{% endblock %}
        {% block modalhtml %}{% endblock %}
        {% block scripts %}{% endblock %}
        {% block footer %}
            <div class="footer card">
                <div class="card-body">
                    <p class="card-text">&copy; 2004-2016 Bethel University</p>
                </div>
            </div>
        {% endblock %}
    </body>

{% endblock %}
</html>