table.email-table{
    border-collapse:collapse;
    min-width:300px;
}

table.email-table-1{
    border-collapse:collapse;
}

table.email-table-2{
    border-collapse:collapse;
    width:100%;
}

th.email-padding, td.email-padding{
    padding: 2px 10px;
}

td.email-border{
    border-bottom: 1px solid #CCC;
}

td.email-text{
    text-align: right;
}

td.email-text-left{
    text-align:left;
}

td.email-special{
    border-bottom:3px double black;
    vertical-align:top;
    padding:20px 10px;
}
