a {
    color: #0069AA;
}

a.disabled:hover {
    color: black;
}

a.month-nav:hover {
    color: black;
}

a.nav-link.button {
    color: #fff !important;
}

a.nav-link.button.nav-bar-active {
    color: #FFC600 !important;
}

a.report-img:hover {
    color: white;
    background-color: #0F2C52;
}

a.semester-menu {
    background-color: white;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

button.btn {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

div.centered {
    text-align:center;
}

div.dropdown {
    cursor: pointer;
    color: #fff;
}

div.footer {
    background-color: #fafafa;
    border-color: #d8d8d8;
    text-align: left;
    border-top: 1px solid #eee;
    margin-top: 3em;
    color: #6c757d;
    font-size: 0.9em;
}

div.header {
    background-color: #eaf1fb;
    text-align: left;
    border-color: #bdd4f3;
    padding: 0;
}

div.info {
    background-color: #f2f2f2;
    border-color: #d8d8d8;
}

div.row-group {
    background-color: #0069AA;
    border-color: white;
    border-style: solid;
    height: 200px;
    margin: 0;
}

div.semester-selector {
    direction: rtl;
}

div.sub-info {
    margin-bottom: 20px;
}

div#table_wrapper {
    overflow-x: auto;
}

form.create-session-form {
    margin-top: 15px;
}

html {}

html, body {
    background-color: #fafafa;
}

input {
    width: 100%;
    padding: 8px;
}

label {
    width: 100%;

}

nav a {
    color: gray;
}

p {
    margin-bottom: 1.25rem;
    line-height: 1.6;
}

select {
    width: 100%;
}

span.tag a {
    color: #0069aa !important;
}

span.tag {
    border: 1px solid #0069aa !important;
    background: #6caedf !important;
    color: #0f2c52 !important;
}

table tr th, table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
}

table.dataTable thead th, table.dataTable thead td, .table-bordered td, .table-bordered th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    border: 1px solid #fff;
}

table {
    border: 1px solid #ddd !important;
}

thead {
    background-color: #fff;
}

ul.no-margin {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .custom-default {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 950px) {
    .custom-small {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 970px) {
    .custom-medium {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 1066px) {
    .custom-large {
        display: flex;
        flex-direction: column-reverse;
    }
}

.active {
    max-height: 30px;
    background-color: #0F2C52;
    color: white !important;
    border-radius: 6px;
    padding: 3px 16px
}

.alert-info {
    background-color: #6CAEDF;
    border-color: #4699d7;
    color: #FFFFFF;
}

.alert-success {
    background-color: #0069AA;
    border-color: #005a92;
    color: #FFFFFF;
}

.add-user {
    float: right;
}

.background-blue {
    background-color: #123563;
}

.big-button {
    font-size: 25px;
    padding: 15px 40px;
}

.blue:hover {
    background-color: #005488;
}

.border-white {
    border-color: white;
}

.btn.btn-primary, .csv-button.btn.btn-primary {
    background-color: #0056B5;
    border-color: #0056B5;
    border-radius: 4px;
}

.btn.btn-primary:hover, .csv-button.btn.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary {
    background-color: #0069AA;
}

.button-border {
    border-radius: .25rem !important;
}

.button-curved {
    border-radius: .25rem !important;
}

.button-labels {
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 6%;
    color: white;
    background-color: #0069AA;
    overflow: hidden;
    white-space: nowrap;
}

.chosen-comments {
    border: 1px solid #aaa !important;
    border-radius: 0 !important;
    padding: 0 5px;
}

.chosen-container {
    min-width: 100%;
}

.chosen-format {
    border: 1px solid #aaa !important;
    border-radius: 0 !important;
    padding: 0 5px;
    height: 29px;
    font-size: .875rem !important;
}

.col-group {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    top: 35%;
}

.col-md-4 {
    margin-right: none;
}

.csv-button.btn.btn-primary {
   border-radius: 0;
   margin: -5px 0 0 0;
   position: absolute;
   right: 10px;
   background-color: #0F2C52;
   border-color: #0c2342;
}

/* This needs to be below '.csv-button.btn.btn-primary' */
.btn.btn-primary, .csv-button.btn.btn-primary {
    background-color: #0056B5;
    border-color: #0056B5;
    border-radius: 4px !important;
}

.custom-user-div {
    color: white;
    display: inline-block !important;
}

.custom-user-p {
    margin: 10px 0;
}

.custom-user-nav {
    padding: 0 10px;
    background-color: tomato;
}

.dd-background {
    color: #777;
}

.dd-background:hover, .dd-background:focus {
    background-color: #f8f9fa;
    text-decoration: none;
    color: #777;
}

.disabled {
    max-height: 30px;
    padding: 3px 16px;
}

.display-inl-b {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}

.hover-bright:hover {
    filter: brightness(85%);
}

.icon-margins {
    margin-top: 50px;
}

.margins {
    width: 100%;
    margin: 20px auto;
    max-width: 70rem;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.month-nav {
    color: #6c757d;
}

.nav.margins {
    padding: 0 2em;
}

.navbar {
    padding: 1em 2em !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.no-border-top {
    border-top: none !important;
}

.no-bullet {
    list-style-type: none;
}

.no-decoration {
    text-decoration: none !important;
}

.no-display {
    display: none;
}

.no-margin-padding {
    padding: 0;
    margin: 0;
}

.report-img {
    top: 0 !important;
}

.right-side-borders
{
    border-right: 2px solid #000000 !important;
}

.row, .form-row {
    width: 100%;
    margin: 0;
}

.side-borders {
    border-left: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
}

.sign-in {
    background-color: #FFC600 !important;
    border-color: #FFC600 !important;
    color: black;
}

.sign-in:hover{
    background-color: #ffae1f !important;
    border-color: #ffae1f !important;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.01);
}

.user-search-result {
    border: 1px dotted grey;
    padding: 10px;
    float: left;
}

#darkblue {
    background-color: #0F2C52;
}

#deactivate-users {
    color: white !important;
    background-color: #DA1736;
    border-color: #DA1736;
}

#delete{
    color: white !important;
    background-color: #DA1736;
    border-color: #DA1736;
}

#edit {
    color: white !important;
    background-color: #0F2C52;
    border-color: #0F2C52;
}

#gray {
    color: #333333;
    background-color: #BDBCB0;
    border-color: #BDBCB0;
}

#red {
    background-color: #DA1736;
}

#reset-act-as-button{
    background: none!important;
    color: #005999;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}

#show-hide {
    background-color: #0F2C52;
    border-color: #0F2C52;
}

#student-views {
    color: white !important;
    background-color: #0F2C52;
    border-color: #0F2C52;
}

#yellow {
    color: black;
    background-color: #FFC600;
}
