div.welcome{
    background-color: aliceblue;
    margin: 35px 20%;
}

.reminders{
    margin-left: 20%;
    margin-right: 20%;
}

div.footer{
    background-color: lightgray;
    margin: 35px 20%;
    text-align: right;
}

div.dropdown{
    cursor: pointer;
}

nav a{
    color: gray;
}

nav a:hover{
    color: black;
}

nav a.active{
    color: white!important;
    background-color: #0F2C52!important;
}
.nav.nav-pills{
    margin: 10px 20%;
}

form.semester-selector{
    direction: rtl;
    margin: 35px 20%;
}

form.search-sessions{
    margin: 35px 20%;
}

a.semester-menu{
    background-color: white;
}

div.semester-menu:hover{
    background-color: red;
}

button.btn-primary{
    background-color: #0069AA;
}

div.sessions-table{
    margin: 35px 20%;
}

div.info{
    margin: 35px 20%;
    background-color: lightgray;
}
