{% extends 'sciencelabs_base.html' %}

{% block subnav %}
    <a id="profile" class="nav-link active" href="{{ url_for('ProfileView:index') }}">Profile</a>
{% endblock %}

{% block body_content %}
    <div class="custom row">
        <div class="col-md-8">
            <form action="{{ url_for('ProfileView:save_edits') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="header card">
                            <div class="card-body btn-group">
                                <p style="padding: 0px; margin: 0px">Edit your profile.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="first-name">First name</label>
                        <input value="{{ user.firstName }}" type="text" class="form-control"
                               id="first-name" name="first-name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="last-name">Last name</label>
                        <input value="{{ user.lastName }}" type="text" class="form-control"
                               id="last-name" name="last-name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="username">Username</label>
                        <input value="{{ user.username }}" readonly type="text" class="form-control"
                               id="username" name="username">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input value="{{ user.email }}" readonly type="text" class="form-control" id="email">
                    </div>
                    {# TODO: Update with roles and permissions #}
                    {% if 'Administrator' in session['USER-ROLES'] or 'Professor' in session['USER-ROLES'] %}
                    <div class="form-group col-md-6">
                        <label for="email-pref">Receive an Email when a Session is Closed</label>
                        <div id="email-pref" class="form-group col-md-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" class="custom-control-input"
                                       name="receive-email" value="1" {{ 'checked' if user.send_email == 1 }}>
                                <label class="custom-control-label" for="customRadioInline1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" class="custom-control-input"
                                       name="receive-email" value="0" {{ 'checked' if user.send_email == 0 }}>
                                <label class="custom-control-label" for="customRadioInline2">No</label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div style="text-align: right;" class="form-row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn blue btn-primary" id="save-session">Save</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <div class="card info">
                <div class="card-body">
                    <p class="card-text">
                        There are two pieces that you may edit on this page: your name and the option to receive an
                        email when a session is closed. The gray boxes contain information that is pulled from Banner
                        and cannot be edited (username and email).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}